<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TyphoonSwift iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TyphoonSwift macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7610C1A1D2D6B5C00F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610C241D2D6B5C00F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610C7A1D2D6DCE00F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610C831D2D6DCE00F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610C961D2D6E1700F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610C9F1D2D6E1700F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610CBD1D2D6FE000F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610CC61D2D6FE000F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610CD91D2D702700F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7610CE21D2D702700F47325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
